#logo{
    height: 40px;
}

.fab{
    font-size: 4vh;
    color: black;
}

.fab:hover{
    color: deepskyblue;
    cursor: pointer;
}

.logo{
    border-collapse: collapse !important;
    padding: 0 !important;
}

a:hover{
    text-decoration: none;
}

.ava{
    border-radius: 100%;
}

.ava:hover{
    border: deepskyblue solid 2px;
}
